/*=============== ACADEMY ===============*/
header {
    background-color: rgb(210, 78, 147);
}

.container-fluid.academy {
    padding-bottom: 50px;
    max-width: 1140px;
}

.academy .icon-wrapper {
    display: flex;
    justify-content: center;
}
.academy .icon-wrapper img {
    max-height: 90px;
}
.academy .data-wrapper {
    margin-top: -11px;
    overflow: hidden;
}

section {
    background-color: #f8f8f8;
    border-radius: 6px;
    margin: 25px 0 25px 0;
    border: solid 1px #e7e7e7;
}

section .row {
    padding: 20px 0 20px 0;
}

section h2 a,
section h2 a:hover,
section h2 a:visited,
section h2 a:focus,
section h2 a:active {
    font-size: 23px;
    font-weight: 300;
    color: #d24e93;
    text-decoration: none;
}

.wrapper-search-box {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    position: relative;
    width: 75vw;
    margin-top: 190px;
    z-index: 9999;
}

/*=============== ALGOLIA ===============*/
.ais-search-box {
    max-width: 100% !important;
    height: 61px !important;
}

.ais-search-box--reset {
    outline: none !important;
}

#hits {
    border: solid 1px #e7e7e7;
    margin-top: 5px;
    background-color: #fff;
    border-radius: .15rem;
}

#hits .ais-hits__empty,
#hits .ais-hits--item {
    border-bottom: 1px solid #e7e7e7;
    padding: 15px;
}
#hits .ais-hits--item:last-child {
    border-bottom: none;
}

#hits .ais-hits .ais-hits__empty,
#hits .ais-hits--item a,
#hits .ais-hits--item a:hover,
#hits .ais-hits--item a:visited,
#hits .ais-hits--item a:focus,
#hits .ais-hits--item a:active {
    color: rgb(102, 102, 102);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

#hits .ais-hits--item a em,
#hits .ais-hits--item a:hover em,
#hits .ais-hits--item a:visited em,
#hits .ais-hits--item a:focus em,
#hits .ais-hits--item a:active em {
    font-weight: bold;
    font-style: normal;
}

#algolia-logo {
    position: absolute;
    margin-top: 65px;
    right: 0;
}

#algolia-logo img {
    width: 110px;
}