/*=============== GENERAL ===============*/
.sys_preload-veil{
    background-color: rgb(198,34,120);
}
.sys_side-banner{
    top:450px;
}
.sys_banner .sys_bg-img-wrapper{
    z-index: 0;
}
.sys_bg-img-wrapper__bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(0,0,0,0.35);
}
h1, h2, h3, h4{
    font-family: Raleway, sans-serif;
    font-weight: 100;
    margin:50px 0;
    letter-spacing: 1px;
    color:rgb(41,41,41);
}
p{
    font-family: Roboto, sans-serif !important;
    font-weight: 100;
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-size:16px;
}
.sys_inner-container{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:100px;
    overflow: hidden;
}
@media(max-width:991px){
    .sys_inner-container{
        padding:50px;
    }
}
@media(max-width:767px){
    .sys_inner-container{
        padding:50px 15px;
    }
}
.sys_overlayBlack{
    background-color: rgba(0,0,0,0.5);
}

.sys_page-header{

}
.sys_page-header__title{
    font-size:40px;
    margin-bottom: 30px;
}
.sys_page-header__subtitle{
    padding:0;
    margin:0;
}
.sys_page-header__subtitle__main{
    font-family: Raleway, sans-serif;
    font-size: 22px;
    line-height: 26px;
}
.sys_page-header__subtitle__sub{
    font-family: Raleway, sans-serif;
    font-size: 14px;
    line-height: 16px;
}
.sys_page-header{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.sys_page-header .sys_bg-img-wrapper__bg-img{
    max-width: 100%;
}

@media(max-width: 768px){
    .sys_bg-img-wrapper__bg-img, .sys_page-header .sys_bg-img-wrapper__bg-img{
        max-width:none !important;
        max-height: 100% !important;
    }
}
@media(max-width: 767px){
    .sys_banner{
        padding:50px 15px !important;
    }
}

.modal .modal-dialog {
    position: relative;
    margin:100px auto;
}
.modal .modal-dialog .modal-content{
    position: relative;
    background-color: black;
    border-radius: 2px;
}
.close {
    position: absolute;
    top:-30px;
    right: -30px;
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color:rgb(255,255,255);
    text-shadow: none;
    opacity: 0.5;
    outline:none !important;
}
@media(max-width: 767px){
    .close{
        right: 10px;
    }
}
.sys_to-top{
    background-color: rgb(198,34,120);
    z-index: 20;
}


.vin_fullscreen-form {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    z-index: 30;
}
.vin_fullscreen-form__tab {
    position: absolute;
    right: 0;
    top: 450px;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: rgba(198,34,120,0.8);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    cursor: pointer;
}
.vin_fullscreen-form__tab a {
    display: block;
    margin: 0;
    padding: 8px 25px;
    cursor: pointer;
    color: rgb(253,253,253) !important;
    font-size: 18px;
    font-weight: 200;
    line-height: 18px;
    letter-spacing: 0.1rem;
}
.vin_fullscreen-form__overlay {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.73);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
}
.vin_fullscreen-form.active-form .vin_fullscreen-form__overlay {
    opacity: 1;
    visibility: visible;
}
.vin_fullscreen-form__overlay__content {
    width: 100%;
    max-width: 570px;
    height: 100%;
    min-height: 620px;
    padding: 0 15px;
    margin:0 auto;
}
.vin_fullscreen-form__overlay__content__wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
.vin_fullscreen-form__overlay__content__close {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: -50px;
    right: -25px;
}
.vin_fullscreen-form__overlay__content__close img {
    display: block;
    width: 100%;
    max-width: 100%;
}
.vin_fullscreen-form__overlay__content__wrapper p {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.15rem;
    color: rgb(255,255,255);
}
.vin_fullscreen-form__overlay__content__wrapper .sys_form__input,
.vin_fullscreen-form__overlay__content__wrapper .sys_form__styled-select__select{
    font-size: 19px !important;
    line-height: 23px !important;
    padding: 15px !important;
}
.vin_fullscreen-form__overlay__content__wrapper .sys_form__styled-select__icon{
    padding: 12px 0;
}
.vin_fullscreen-form__overlay__content__wrapper .sys_button{
    background-color: rgb(198,34,120);
    color: rgb(247,247,247);
    font-size: 23px;
    font-weight: 200;
    line-height: 24px;
    padding: 15px 0;
    border: none;
    outline: none !important;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.vin_fullscreen-form__overlay__content__wrapper .sys_button:hover{
    background-color: rgb(178,14,100);
    color: rgb(255,255,255) !important;
}
.vin_fullscreen-form__overlay__content__wrapper p.error-label{
    background-color: rgb(225,60,60);
    color: rgb(247,247,247);
    padding: 2px 5px;
    left: 0;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

@media(max-width: 767px){
    .vin_fullscreen-form {
        position: absolute;
    }
    .vin_fullscreen-form__overlay__content {
        min-height: 640px;
    }
    .vin_fullscreen-form__overlay__content__close {
        right: 0;
    }

}
/*=============== HEADER ===============*/

.sys_top-bar {
    min-height: 0;
    height: 0;
    overflow: hidden;
    padding:0;
    margin-bottom: 0 !important;
}

.sys_main-bar {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 0px 50px;
    background: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
@media(max-width: 767px){
    .sys_main-bar {
        padding: 0px 15px;
    }
}
.sys_logo-wrapper__logo, .sys_top-footer__logo-wrapper__logo {
    display: block;
    font-family: "Cocon-Regular", sans-serif !important;
    font-size: 38px;
    line-height: 60px;
    text-align: center;
    color:rgb(255,255,255) !important;
    letter-spacing: 2px;
}
.sys_logo-wrapper__logo img{
    margin:0 auto;
}
.navbar{
    min-height: 0;
}
.sys_main-menu .navbar-collapse ul.navbar-nav {
    margin: 0;
    padding: 0;
    position: relative;
    right: 0;
    bottom: auto;
    top:1px;
    float: right;
}
header.sys_fixed-menu .sys_main-bar{
    padding: 0px 50px;
}
header.sys_solid-menu .sys_main-bar{
    background-color:rgba(0,0,0,0.75);
}
@media (max-width: 767px){
    .sys_main-bar,
    header.sys_fixed-menu .sys_main-bar{
        padding: 0px 15px;
    }
    .sys_main-menu {
        margin: 0 -15px;
    }
}

.sys_main-menu .navbar-collapse ul.navbar-nav > li{
    padding:15px 0;
}
.sys_main-menu .navbar-collapse ul.navbar-nav > li > a {
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    padding: 5px 25px;
    color: rgb(255,255,255);
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    letter-spacing: 1px;
}
.sys_main-menu .navbar-collapse ul.navbar-nav > li:not(.active):hover > a {
    color: rgb(255,255,255);
}
.sys_main-menu .navbar-collapse ul.navbar-nav > li.active > a {
    position: relative;
    border: none;
    background-color: transparent;
    top: 0px;
    color: rgb(180,180,180);
}

.sys_main-menu--apart{
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
}
.sys_main-menu--apart-left{
    top:-1px;
    border-left: 1px solid rgba(255,255,255,0.2);
}
.sys_main-menu--apart-right{
    top:-1px;
    border-right: 1px solid rgba(255,255,255,0.2);
}
.sys_main-menu__submenu__sub{
    left:0;
    top: 75%;
}
.sys_main-menu__submenu__sub__list {
    margin: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.75);
    list-style: none;
}
.sys_main-menu__submenu__sub__list > li > a{
    color:rgb(253,253,253) !important;
}
.sys_main-menu__submenu__sub__list > li > a.active{
    color: rgb(180,180,180) !important;
}
.sys_main-menu__submenu__sub__list > li > a:hover {
    color: rgb(233,233,233);
    padding-left: 15px;
    padding-right: 15px;
}
.vin_lang-menu{
    position: relative;
}
.vin_lang-menu__value{
    position: relative;
    top:-6px;
    font-size:9px;
    background-color: rgba(198,34,120,0.6);
    padding:2px 14px 2px 3px;
    -webkit-filter: drop-shadow(0 0 1px rgba(0,0,0,0.5)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.5)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
    z-index: 1;
}
.vin_lang-menu__value::after{
    content: '';
    position: absolute;
    top:0;
    left: -7px;
    border-top: 7px solid rgba(198,34,120,0.6);
    border-right: none;
    border-bottom: 7px solid rgba(198,34,120,0.6);
    border-left: 7px solid transparent;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.vin_lang-menu__flag{
    position: absolute;
    top:0px;
    left:55%;
    display: block;
    height: 28px;
    width: 28px;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sys_main-menu__submenu:hover .sys_main-menu__submenu__sub,
.sys_main-menu__submenu__sub:hover{
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}
.sys_fixed-menu .sys_main-menu__submenu:hover .sys_main-menu__submenu__sub,
.sys_fixed-menu .sys_main-menu__submenu__sub:hover{
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}

@media(max-width:991px){
    .sys_main-menu .navbar-header .navbar-toggle {
        -webkit-transform: scale(0.5, 0.5);
        -moz-transform: scale(0.5, 0.5);
        -ms-transform: scale(0.5, 0.5);
        -o-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
        display: block !important;
        position: absolute;
        bottom: -13px;
        right: 15px;
        margin: 0;
        background-color: transparent;
        border: 2px solid rgb(255,255,255);
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }
}

.vin_floating-menu{
    position: fixed;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    top: 65px;
    left:0;
    width: 300px;
    height: auto;
    padding-top: 10px;
    -webkit-transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s, top 0.3s ease-out 0s, -webkit-transform 0s;
    -moz-transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s,top 0.3s ease-out 0s, -moz-transform 0s;
    -ms-transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s,top 0.3s ease-out 0s, -ms-transform 0s;
    -o-transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s,top 0.3s ease-out 0s, -o-transform 0s;
    transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s,top 0.3s ease-out 0s, transform 0s;
    -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
    -ms-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
    will-change: top;
}
.vin_floating-menu::before{
    content:'';
    position: absolute;
    top:0;
    left:50%;
    margin-left:-10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255,255,255);
}
.vin_floating-menu__content{
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: rgb(255,255,255);
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.vin_floating-menu__content__wrapper{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.vin_floating-menu__content__wrapper__slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width:auto;
    height: 100%;
    white-space: nowrap;
    -webkit-transition: transform 0.3s ease-out 0s;
    -moz-transition: transform 0.3s ease-out 0s;
    -ms-transition: transform 0.3s ease-out 0s;
    -o-transition: transform 0.3s ease-out 0s;
    transition: transform 0.3s ease-out 0s;
}
.vin_floating-menu.vin_floating-menu--active{
    visibility: visible;
    opacity: 1;
    top:45px;
}

.vin_floating-menu__content ul{
    display:  block;
    order: 1;
    flex-grow: 0;
    flex-shrink: 0;
    margin:0;
    padding:0;
    list-style: none;
    height: 100%;
    width:260px !important;
    float: left;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.vin_floating-menu__content ul > li{
    display: block;
    width:100%;
}
.vin_floating-menu__content ul > li > a{
    display: block;
    position: relative;
    padding: 10px 0 10px 80px;
}
.vin_floating-menu__content ul > li > a > img{
    display: block;
    position: absolute;
    left:8px;
    top:10px;
    max-height: 32px;
}
.vin_floating-menu__content ul > li > a > span{
    display: block;
    width: 100%;
    font-family: Roboto, Raleway, sans-serif !important;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2rem;
    font-weight: 600;
    color: rgb(55,67,85);
    white-space: normal;
}
.vin_floating-menu__content ul > li > a > span > small{
    display: block;
    font-size: 10px;
    line-height: 13px;
    font-weight: 400;
    letter-spacing: 0.06rem;
    color: rgb(124,136,152);
    padding-top: 5px;
}
.vin_floating-menu--toggle ul{
    display: none;
}

    /*=============== FOOTER ===============*/
footer{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
}
.sys_top-footer {
    padding: 20px;
    padding-bottom: 80px;
    background-color: rgb(41,41,41);
    overflow:hidden;
}
.vin_footer_upper{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 20px 0;
}
.vin_footer_upper > div{
    margin-bottom:15px;
}
.vin_footer_upper p{
    margin-bottom: 0;
    text-align: center;
}
.vin_footer_upper a{
    font-family: Roboto, Raleway, sans-serif !important;
    font-size: 14px;
    margin-bottom: 0;
}
.vin_footer_upper a img{
    position: relative;
    top:-2px;
    max-height: 20px;
    padding-right: 10px;
}
.vin_footer_lower{
    padding-top:20px;
}
.vin_footer_lower p{
    font-family: Roboto, Raleway, sans-serif !important;
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
    color: rgba(255,255,255,0.4) !important;
}
.vin_footer_lower a i{
    font-size: 24px;
    padding-right: 25px;
    padding-top: 15px;
    color: rgba(255,255,255,0.4) !important;
}
a.vin_footer_logo{
    display: block;
    text-align: center;
    font-size: 34px;
    font-family: Cocon-Regular !important;
    color: rgb(253,253,253);
}
a.vin_footer_logo img{
    margin: 0 auto;
    opacity: 0.5;
}
#digital-logo{
    display: block;
    position: absolute;
    bottom: 10px;
    left:10px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
#digital-logo:hover{
    opacity: 1;
}
#digital-logo img{
    max-height: 40px;
}
/*=============== OFFCANVAS ===============*/
.sys_offcanvas-menu {
    background-color: rgba(0,0,0,0.85);
    border-right: 1px solid rgb(253,253,253);
}
.sys_offcanvas-menu .navmenu-nav > li > a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: rgb(253,253,253);
    font-size: 14px;
    line-height: 14px;
    font-weight: 200;
    margin: 10px 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.sys_offcanvas-menu .navmenu-nav > li.active > a {
    width: 70%;
    margin: 10px 15%;
    padding-top: 12px;
    background-color: transparent;
    color: rgb(180,180,180);
    border: none;
}
.sys_offcanvas-menu hr{
    display: block;
    margin: 25px auto;
    width:80%;
}

.sys_offcanvas-menu .vin_lang-menu{
    position: relative;
}
.sys_offcanvas-menu .vin_lang-menu__value{
    position: relative;
    top:-6px;
    left:-8px;
    font-size:12px;
    background-color: rgba(198,34,120,0.6);
    padding:2px 14px 2px 4px;
    -webkit-filter: drop-shadow(0 0 1px rgba(0,0,0,0.5)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.5)) drop-shadow(0 2px 4px rgba(0,0,0,0.2));
    z-index: 1;
}
.sys_offcanvas-menu .vin_lang-menu__value::after{
    content: '';
    position: absolute;
    top:0;
    left: -9px;
    border-top: 9px solid rgba(198,34,120,0.6);
    border-right: none;
    border-bottom: 9px solid rgba(198,34,120,0.6);
    border-left: 9px solid transparent;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.sys_offcanvas-menu .vin_lang-menu__flag{
    position: absolute;
    top:0px;
    left:50%;
    display: block;
    height: 32px;
    width: 32px;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8), 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}


/*=============== SIDEBANNER ===============*/
.sys_side-banner {
    position: fixed;
    top:100px;
}

@media(max-width:768px){
    .sys_side-banner {
        position: absolute;
        top:150px;
    }
}
@media(max-width:449px){
    .sys_side-banner {
        right: -270px;
    }
    .sys_side-banner__content {
        width: 270px;
        height: 580px;
    }
}
.sys_side-banner__tab {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: rgba(198,34,120,0.8);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    cursor: pointer;
}

.sys_side-banner__tab__toggle {
    display: block;
    margin: 0;
    padding: 8px 25px;
    cursor: pointer;
    color: rgb(253,253,253) !important;
    font-size: 18px;
    line-height: 18px;
}
.sys_side-banner__tab__toggle__close {
    position: relative;
    left:-15px;
    top:2px;
    display: inline-block;
    width: 0;
    overflow: hidden;
    color: rgb(253,253,253) !important;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    font-size: 18px;
    line-height: 18px;
}
.sys_side-banner__content{
    padding:25px;
}
.sys_side-banner__content h4{
    margin-top:25px;
    margin-bottom: 15px;
    color:rgb(198,34,120);
    font-family: Roboto, Raleway, sans-serif !important;
}
.sys_side-banner__content .vin_checkout-form__input{
    margin-bottom: 15px;
}
.sys_side-banner__content .vin_checkout-form__input input,
.sys_side-banner__content .vin_checkout-form__input .sys_form__styled-select__select{
    padding: 5px 10px;
}

.sys_side-banner__content .sys_form__checkbox label{
    padding-top:3px;
    font-size:14px;
    line-height: 16px;
}

.checkout-contract-choice--banner{
    display: block;
    padding:15px;
    background-color: rgb(247,247,247);
    margin:0 -25px;
}
.checkout-contract-choice--banner img{
    display: block;
    max-height: 70px;
    margin:0 auto;
    max-width: 100%;
}
.checkout-contract-choice--banner p{
    display: block;
    font-family: Roboto, Raleway, sans-serif !important;
    font-weight: 200;
    font-size:16px;
    line-height: 22px;
    color:rgb(102,102,102);
    text-align: center;
    margin-bottom: 15px;
}
.checkout-contract-choice--banner p small{
    font-size:11px;
}
.checkout-contract-choice--banner span{
    display: block;
    text-align: center;
    font-family: Roboto, Raleway, sans-serif !important;
    font-weight: 200;
    color:rgb(102,102,102);
    font-size:14px;
    line-height: 16px;
}
.checkout-contract-choice--banner span a{
    color: rgb(198,34,120) !important;
}
.sys_side-banner .sys_button{
    float: right;
    font-size: 20px;
    padding: 8px 0px;
    color:white;
    border: none;
    background-color: rgb(198,34,120);
    outline: none !important;
    margin-top:15px;
}
.sys_side-banner .sys_button:hover{
    color:white !important;
    border: none;
    background-color: rgb(218,54,140);
}
.sys_side-banner .sys_form__styled-select__icon i{
    font-size: 25px;
}

/*=============== INICIO / HOME ===============*/
.sys_main-slider .swiper-button{
    width:80px;
}
.sys_main-slider .swiper-button i{
    font-size: 80px;
    color:rgb(253,253,253) !important;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.sys_swiper-slide__caption .sys_valign__item{
    width:100%;
}
.sys_swiper-slide__caption h1{
    font-family: Roboto, Raleway, sans-serif !important;
    font-size: 52px;
    line-height: 62px;
    font-weight: 200;
    letter-spacing: 0.3rem;
    margin:0 0 50px;
}
.sys_swiper-slide__caption h1 > small{
    font-size: 88.5%;
    font-weight: 200
}

.sys_swiper-slide__caption p{
    font-family: Roboto, Raleway, sans-serif !important;
    font-size: 22px;
    line-height: 33px;
    font-weight: 200;
    letter-spacing: 0.1rem;
    margin: 0 0 35px;
}
.vin_intro-video-button{
    display: block;
    position: relative;
    height: 115px;
    width: 115px;
    font-size: 65px;
    line-height: 65px;
    padding: 25px;
    color: rgb(253,253,253);
    border: 1px solid rgb(253,253,253);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin: 0;
}
.vin_intro-video-button:hover{
    height: 95px;
    width: 95px;
    padding: 15px;
    margin: 10px;
}
@media(max-width:991px){
    .sys_swiper-slide__caption h1{
        text-align: center;
        margin: 0 0 35px;
        font-size: 46px;
    }
    .sys_swiper-slide__caption p{
        text-align: center;
        font-size: 20px;
    }
    .vin_intro-video-button{
        margin:0 auto;
    }
    .vin_intro-video-button:hover{
        margin:10px auto;
    }
    .vin_intro-video-wrapper {
        text-align: center;
    }
}

.vin_intro-video-wrapper{
    display: block;
    position: relative;
    text-align: center;
}
.vin_intro-video-wrapper--inner{
    display: inline-block;
    position: relative;
}
.vin_intro-video-wrapper--inner::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.25);
    z-index: 2;
}
.vin_intro-video-wrapper--inner::after{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border:1px solid rgb(255,255,255);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.vin_intro-video-wrapper:hover .vin_intro-video-wrapper--inner::after{
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
}

.vin_intro-video-wrapper img{
    position: relative;
    max-height: 250px;
    margin: 0 auto;
}
.vin_intro-video-button--video{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-40px;
    height: 80px;
    width: 80px;
    font-size: 50px;
    line-height: 50px;
    padding: 15px;
    color: rgb(218,54,140);
    border: 2px solid rgb(218,54,140);
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.5));
    z-index: 3;
}
.vin_intro-video-wrapper:hover .vin_intro-video-button--video{
    -webkit-transform: scale(1.25, 1.25);
    -moz-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    -o-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}



.vin_slider-stores{
    position: absolute;
    display: block;
    left: 100px;
    right: 100px;
    bottom: 50px;
    z-index: 1;
}
.vin_slider-stores a{
    display: inline-block;
    padding-right: 15px;
}
.vin_slider-stores a img{
    display: inline-block;
}
@media(max-width:991px){
    .vin_slider-stores{
        left: 50px;
        right: 50px;
    }
    .vin_slider-stores a{
        display: inline-block;
        width: 49%;
        padding: 0 15px;
    }
    .vin_slider-stores a img{
        display: block;
        margin:0 auto;
    }
}
@media(max-width: 767px){
    .vin_slider-stores{
        left: 0;
        right: 0;
    }
}

.vin_section1--home img{
    max-width: 100vw;
    margin-left: -45vw;
    margin-top: 10vh;
}
.vin_section1--home h1{
    margin-top:50px;
    margin-bottom: 50px;
}
.vin_section1--home p{
    font-weight: 200;
    margin-bottom: 25px;
}
@media(max-width:767px){
    .vin_section1--home img{
        max-width: 140vw;
        margin-bottom: -25vw;
    }
    .vin_section1--home h1{
        margin-top:0px;
    }
}

.vin_section2--home .sys_banner{
    background-color: transparent;
}
.vin_section2--home .sys_bg-img-wrapper__bg-img{
    max-width:100%;
}
.vin_section2--home h1{
    margin:50px 0;
}
.vin_section2--home p{
    margin-bottom:50px;
}

.vin_section3--home > div:first-child{
    padding-right: 35px;
}
.vin_section3--home > div:last-child{
    padding-left: 35px;
}
@media(max-width:767px){
    .vin_section3--home > div:first-child{
        padding-right: 15px;
    }
    .vin_section3--home > div:last-child{
        padding-left: 15px;
    }
}

.vin_section4--home{
    background-color: rgb(247,247,247);
}
.vin_opinion-slider .swiper-button{
    width:60px;
    height: 60px;
}
.vin_opinion-slider .swiper-button i{
    font-size: 60px;
    color:rgb(102,102,102) !important;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
@media(max-width:767px){
    .vin_opinion-slider .swiper-button-prev{
        left: -15px;
    }
    .vin_opinion-slider .swiper-button-next{
        right: -15px;
    }
}
.vin_opinion{
    padding-bottom: 100px;
}
.vin_opinion__content{
    padding:50px 100px;
    font-size: 16px;
}
.vin_opinion__author{

}
.vin_opinion__author__img{
    float: right;
    max-height: 90px;
}
.vin_opinion__author__name{
    font-weight: 400;
    margin-top:10px;
    margin-bottom: 15px;
    font-size: 16px;
}
.vin_opinion__author__info{
    color: rgb(102, 102, 102);
}
@media(max-width:991px){
    .vin_opinion__content{
        padding:50px;
        font-size: 16px;
    }
}
@media(max-width:767px){
    .vin_opinion__content{
        padding:50px 15px;
        font-size: 16px;
    }
}

#hip-slide{
    display:block;
    height: 800px;
    background-color: rgb(3,3,3);
}
#hip-slide img{
    display:block;
    margin:0 auto;
    max-height: 200px;
}
.hip-message{
    font-size: 28px;
    line-height: 36px;
    color: rgb(247,247,247);
    text-align: center;
    margin: 30px 0;
}
.hip-message a{
    color: rgb(198,34,120) !important;
}
.hip-date{
    font-family: Raleway, sans-serif !important;
    font-weight: 400;
    font-size:18px;
    line-height: 18px;
    color: rgb(255,100,100);
    text-align: center;
    margin: 30px 0 15px 0;
}
.hip-hashtag{
    text-align: center;
    color: rgb(200,200,200);
    margin: 0 0 15px 0;
}
.hip-link{
    display: block;
    font-size:18px;
    line-height: 18px;
    color: rgb(247,247,247) !important;
    text-align: center;
}
@media(max-width:991px){
    #hip-slide {
        padding-top:100px;
        padding-bottom: 100px;
    }
    #hip-slide img:first-child {
        max-height: 100px;
    }
}
@media(max-width:767px){

    #hip-slide img:first-child {
        max-height: 80px;
    }
}
/*=============== LA CARTA / THE MENU ===============*/


.vin_section1--menu img{
    width: 70vw;
    margin-left: -25vw;
}
.vin_section1--menu h1{
    margin-top:50px;
    margin-bottom: 50px;
    font-weight: 200;
}
.vin_section1--menu p{
    font-weight: 200;
    margin-bottom: 25px;
}
@media(max-width:991px){
    .vin_section1--menu img{
        width: 65vw;
    }
    .vin_section1--menu h1{
        margin-top:0px;
    }
}
@media(max-width:768px){
    .vin_section1--menu img{
        width: 110vw;
        margin-bottom:0;
    }
    .vin_section1--menu h1{
        margin-top:-80px;
    }
}

.vin_section2--menu .sys_banner{
    background-color: transparent;
}
.vin_section2--menu .sys_bg-img-wrapper__bg-img{
    max-width:100%;
}
.vin_section2--menu h1{
    margin:50px 0;
}
.vin_section2--menu p{
    font-weight:200;
    margin-bottom:25px;
}
.vin_section2--menu img{
    min-width:50px;
    max-width:65px;
}
.vin_section3--menu h1{
    margin-top:20px;
}

.vin_section4--menu .sys_banner{
    background-color: transparent;
}
.vin_section4--menu .sys_bg-img-wrapper__bg-img{
    max-width:100%;
}
.vin_section4--menu h1{
    margin:50px 0;
}
.vin_section4--menu p{
    font-weight:200;
    margin-bottom:50px;
}
.vin_section5--menu{

}
.vin_section5--menu > div{
    padding:100px;
}
.vin_section5--menu > div:first-child{
    padding-left:0;
}
@media(max-width: 1199px){
    .vin_section5--menu > div{
        padding:100px 50px;
    }
    .vin_section5--menu > div:first-child{
        padding-left:0;
    }
}
@media(max-width: 991px){
    .vin_section5--menu > div{
        padding:100px 50px;
    }
    .vin_section5--menu > div:first-child{
        padding-bottom:0;
        padding-left:50px;
    }
    .vin_section5--menu > div:last-child{
        padding-top:30px;
    }
}
@media(max-width: 767px){
    .vin_section5--menu > div{
        padding:50px 15px;
    }
    .vin_section5--menu > div:first-child{
        padding-bottom:0;
        padding-left:15px;
    }
}

.vin_ipad-slider{
    display: block;
    position: relative;
}
.vin_ipad-slider__content{
    display: block;
    position: absolute;
    top:6.56%;
    right:9.1%;
    bottom:6.6%;
    left:8.9%;
    overflow: hidden;
}
.vin_screen-slider.vin_skin-classic .vin_skin-classic{
    display: block;
}
.vin_screen-slider.vin_skin-classic .vin_skin-modern{
    display: none;
}
.vin_screen-slider.vin_skin-modern .vin_skin-classic{
    display: none;
}
.vin_screen-slider.vin_skin-modern .vin_skin-modern{
    display: block;
}
.vin_screen-slider .swiper-button{
    width: 44px;
}
.vin_screen-slider .swiper-button i{
    font-size: 44px;
    line-height: 44px;
}

.vin_section5--menu label{
    display: block;
    position: relative;
    min-height: 20px;
    padding-left: 30px;
    margin-bottom: 0;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(51,51,51);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.vin_section5--menu input{
     max-width: 0;
    max-height: 0;
    opacity:0;
    visibility: hidden;
}
.vin_section5--menu label::before{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid rgb(150,150,150);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.vin_section5--menu label::after{
    content: '';
    display: block;
    position: absolute;
    top:4px;
    left: 4px;
    height: 12px;
    width: 12px;
    background-color: rgb(198,34,120);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
}
.vin_section5--menu input:checked ~ label{
    color: rgb(198,34,120);
}
.vin_section5--menu input:checked ~ label::before{
    border-color: rgb(198,34,120);
}
.vin_section5--menu input:checked ~ label::after{
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
    /*=============== PRECIOS / PRICES ===============*/
.vin_section1--prices h1{
    margin-top:25px;
}
.vin_section1--prices > div:last-child{
    background-color: rgb(247,247,247);
}
.vin_section1--prices .sys_valign__item{
    width:100%;
}
.vin_section1--prices span{
    display: block;
    width:352px;
    height: 352px;
    padding:140px 0;
    margin: 40px auto;
    font-family: Roboto, Raleway, sans-serif !important;
    font-size: 72px;
    font-weight: 200;
    line-height: 72px;
    text-align: center;
    border:1px solid rgb(41,41,41);
    border-radius: 50%;
}
.vin_section1--prices span small{
    font-size: 32px;
    font-weight: 400;
}
@media(max-width: 991px){
    .vin_section1--prices span{
        width:296px;
        height: 296px;
        padding:125px 0;
        font-size: 56px;
        line-height: 56px;
    }
    .vin_section1--prices span small{
        font-size: 24px;
    }

}
.vin_section2--prices .sys_banner{
    background-color: transparent;
}
.vin_section2--prices .sys_bg-img-wrapper__bg-img{
    max-width:100%;
}
.vin_section2--prices .sys_same-height-children{
    width:100%;
}
@media(max-width:767px){
    .vin_section2--prices .sys_same-height-children{
        width:auto;
    }
}
.vin_contract-method{
    display: block;
    background-color: rgba(0,0,0,0.65);
    min-height: 100%;
    padding:25px;
}
.vin_contract-method__img{
    display: block;
}
.vin_contract-method__img img{
    margin: 0 auto;
    max-height: 100px;
}
.vin_contract-method h3{
    font-size: 20px;
    text-align: center;
    color:rgb(253,253,253);
    font-weight: 100;
}
.vin_contract-method h1{
    font-size: 44px;
    text-align: center;
    color:rgb(253,253,253);
    font-weight: 200;
}

.vin_caracteristica{
    -webkit-box-sizing: border-box;
    -moz-box-sizing:  border-box;
    box-sizing:  border-box;
    padding:25px;
    margin:0;
    border:1px solid rgba(0,0,0,0.65);
    min-height: 360px;
}
.vin_caracteristica__img img{
    max-height: 100px;
    margin:0 auto;
}
.vin_caracteristica h3{
    margin-top:25px;
    margin-bottom: 15px;
    text-align: center;
}
.vin_caracteristica p{
    margin:0;
    font-size: 14px;
    text-align: justify;
    padding: 0 20px;
}
@media(max-width:1199px){
    .vin_caracteristica{
        min-height: 420px;
    }
}
@media(max-width:991px){
    .vin_caracteristica{
        min-height: 350px;
    }
}
@media(max-width:767px){
    .vin_caracteristica{
        min-height: 0;
    }
}
/*=============== FAQS ===============*/
.vin_section1--faqs{

}
.vin_section1--faqs > div{

}
@media(max-width:768px){
    .vin_section1--faqs > div{
        height: auto;
    }
}
.faqs_questions{
    padding:5px 0 5px 5px;
    overflow: hidden;
}
.faqs_questions__wrapper{
    position: relative;
    background-color: rgb(41,41,41);
    padding: 50px 30px 10px 65px;
    min-height: 100%;
}
.faqs_questions__line{
    position: absolute;
    top:50px;
    bottom:50px;
    left:46px;
    width:1px;
    background-color: rgba(255,255,255,0.2);
}
.faqs_questions__marker{
    position: absolute;
    display: block;
    height: 44px;
    width: 3px;
    left:45px;
    top:50px;
    background-color: rgb(255,255,255);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;

}
.faqs_questions a{
    display: block;
    font-family: Roboto, Raleway, sans-serif !important;
    font-size: 16px;
    font-weight: 200;
    color:rgb(229,229,229) !important;
    margin-bottom: 40px;
}
.faqs_answers{
    padding-right: 50px;
    overflow: hidden;
}
.faqs_answers__imgs{
    padding:5px;
}
.faqs_answers__imgs img{
    margin-bottom:5px;
    width: 300px;
}
.faqs_answers__list{
    padding:50px 25px;
    margin-bottom: 150px;
}
.faqs_answers__list__answer{
    margin-bottom: 50px;
}
.faqs_answers__list__answer h3{
    color:rgb(41,41,41);
    margin-top: 0;
    margin-bottom: 25px;
}
.faqs_answers__list__answer p{
    margin:0;
    color: rgb(102,102,102);
}
@media(max-width: 767px){
    .faqs_answers{
        padding-right: 15px;
    }
}

/*=============== CONTACT ===============*/
.vin_contact-address a,
.vin_contact-social a{
    font-family: Roboto, sans-serif !important;
}
.vin_contact-social img{
    position: relative;
    top:-2px;
    max-height: 22px;
    padding-right: 20px;
}
#vin_contact-form .sys_button{
    float: right;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
    color: white;
    border: none;
    background-color: rgb(198,34,120);
    outline: none !important;
}
#vin_contact-form .sys_button:hover{
    color: white !important;
    background-color: rgb(218,54,140);
}

.vin_section2--contact > div{
    padding: 0 3px;
    margin-bottom: 5px;
}
.vin_section2--contact > div:first-child{
    padding-left: 0;
}
.vin_section2--contact > div:last-child{
    padding-right: 0;
}
.vin_section2--contact > div img{
    width:100%;
}
@media(max-width: 767px){
    .vin_section2--contact > div:nth-child(odd){
        padding-left: 0;
    }
    .vin_section2--contact > div:nth-child(even){
        padding-right: 0;
    }
}

#vin_request-info-form .sys_button{
    float: right;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
    color: white;
    border: none;
    background-color: rgb(198,34,120);
    outline: none !important;
}
#vin_request-info-form .sys_button:hover{
    color: white !important;
    background-color: rgb(218,54,140);
}


.sys_progress-bar{
    position: relative;
    display: block;
    height: 4px;
    width:100%;
    background-color: rgb(220,220,220);
    overflow: hidden;
}
.sys_progress-bar__progress{
    position: absolute;
    top:0;
    bottom:0;
    width: 0;
    height: 4px;
    -webkit-animation:searchBar 2s linear infinite;
    -o-animation:searchBar 2s linear infinite;
    animation:searchBar 2s linear infinite;
    background-color: rgb(198,34,120);
}
@keyframes searchBar {
    0%{
        left:-25%;
        right: 100%;
        width:25%
    }
    50%{
        left:10%;
        right: 10%;
        width:80%
    }
    100%{
        left: 100%;
        right:-25%;
        width:25%;
    }
}

/*=============== CHECKOUT ===============*/
.vin_section1--checkout {
    padding-top: 0;
}
.vin_section1--checkout h4{
    font-family: Roboto, Raleway, sans-serif !important;
    color: rgb(198,34,120);
    font-size: 24px;
    font-weight: 200;
    margin-top:20px;
    margin-bottom:20px;
}
.vin_section1--checkout h3{
    font-family: Roboto, Raleway, sans-serif !important;
    font-weight: 300;
    margin-top:20px;
    margin-bottom:20px;
}
.vin_section1--checkout h5{
    font-family: Roboto, Raleway, sans-serif !important;
    color: rgb(102,102,102);
    font-size: 18px;
    font-weight: 200;
    margin:20px 0;
}

.vin_checkout-form__input{
    margin-bottom: 20px;
}
.vin_checkout-form__input label{
    font-family: Roboto, Raleway, sans-serif !important;
    font-size:14px;
    font-weight: 200;
    color: rgb(102,102,102);
    margin-bottom: 5px;
}
.vin_checkout-form__input input,
.vin_checkout-form__input .sys_form__styled-select__select,
.vin_checkout-form__input textarea{
    font-family: Roboto, Raleway, sans-serif !important;
    font-size: 16px;
    line-height: 26px;
    color: rgb(102,102,102);
    background-color: rgb(245,245,245);
    border:none;
}
.sys_form__styled-select{
    position: relative;
}
.sys_form__styled-select__icon{
    background-color: transparent;
    z-index: 2;
}
.sys_form__styled-select__icon i{
    color:rgb(41,41,41);
    font-size: 30px;
}
.sys_form__styled-select__select{
    padding:10px 7px;
}

.checkout-contract-choice{
    display: block;
    padding:15px;
    background-color: rgb(247,247,247);
}
.checkout-contract-choice img{
    display: block;
    max-height: 70px;
    margin:0 auto;
    margin-bottom: 20px;
    max-width: 100%;
}
.checkout-contract-choice p{
    display: block;
    font-family: Roboto, Raleway, sans-serif !important;
    font-weight: 200;
    font-size:20px;
    line-height: 22px;
    color:rgb(102,102,102);
}
.checkout-contract-choice p small{
    font-size:12px;
}
.checkout-contract-choice span{
    font-family: Roboto, Raleway, sans-serif !important;
    font-weight: 200;
    display: block;
    color:rgb(102,102,102);
    font-size:14px;
}
.sys_form__checkbox{
    margin-bottom: 25px;
}
.sys_form__checkbox input, .sys_form__radio input {
    position: absolute !important;
    top: 50%;
    margin: -9px 0 0 -28px !important;
    line-height: normal;
    outline: none !important;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid rgb(66,66,66);
    height: 18px;
    width: 18px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.sys_form__checkbox input:checked {
    -webkit-box-shadow: inset 0 0 0 9px rgb(198,34,120);
    -moz-box-shadow: inset 0 0 0 9px rgb(198,34,120);
    box-shadow: inset 0 0 0 9px rgb(198,34,120);
    border-color: rgb(198,34,120);
}
.sys_form__checkbox input:before {
    content: '\E5CA';
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    font-size: 14px;
    font-family: 'Material Icons';
    font-weight: 800;
    color: rgb(255,255,255);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.sys_form__checkbox input:checked:before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.sys_form__radio label{
    position: relative;
}
.sys_form__radio input{
    position: absolute !important;
    top: 8px;
    margin: -9px 0 0 -28px !important;
    line-height: normal;
    outline: none !important;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid rgb(66,66,66);
    height: 14px;
    width: 14px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.sys_form__radio input:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: 14px;
    width: 14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.sys_form__radio input:checked:before {
    -webkit-box-shadow: inset 0 0 0 7px rgb(198,34,120);
    -moz-box-shadow: inset 0 0 0 7px rgb(198,34,120);
    box-shadow: inset 0 0 0 7px rgb(198,34,120);
}
.vin_section1--checkout .sys_form__radio img{
    display: block;
    max-height: 40px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.vin_section1--checkout .sys_form__radio input:checked ~ div p{
    color: rgb(198,34,120);
}

.vin_section1--checkout .sys_form__radio input:not(:checked) ~ div img.inactive_checked,
.vin_section1--checkout .sys_form__radio input:checked ~ div img.active_checked{
    display: block;
}
.vin_section1--checkout .sys_form__radio input:checked ~ div img.inactive_checked,
.vin_section1--checkout .sys_form__radio input:not(:checked) ~ div img.active_checked{
    display: none;
}
.vin_section1--checkout .sys_form__radio p.error-label{
    position: absolute;
    top:100%;
    width:200%;
}
@media(max-width: 767px){
    .vin_section1--checkout .sys_form__radio p.error-label{
        top:215%;
        width:150%;
    }
}
.vin_section1--checkout .sys_button{
    float: right;
    font-size: 20px;
    padding: 15px 50px;
    color:white;
    border: none;
    background-color: rgb(198,34,120);
    outline: none !important;
}
.vin_section1--checkout .sys_button:hover{
    color:white !important;
    border: none;
    background-color: rgb(218,54,140);
}
.vin_section2--checkout{
    padding:50px;
    background-color: rgb(247,247,247);
}
.vin_section2--checkout h2{
    margin-top:0;
}
.checkout-contract-choice-steps > div{
    min-height: 215px;
}
.checkout-contract-choice-steps img{
    display: block;
    margin:0 auto;
    margin-bottom:15px;
    max-height: 100px;
}
.checkout-contract-choice-steps p{
    font-size: 16px;
    color: rgb(102,102,102);
    text-align: center;
    margin-bottom: 30px;
}
.vin_summary-bg{
    display: block;
    background-color: rgb(245,245,245);
    padding:30px 20px;
}
.checkout-notice{
    margin: 50px 0 !important;
    font-size:16px !important;
    line-height:26px;
    text-align: center;
}
.checkout-notice span{
    font-weight: 300 !important;
}
.customization-price{
    display: block !important;
    font-size: 26px !important;
    color:rgb(198,34,120) !important;
    padding-top:10px;
}

/*=============== RECEIPT ===============*/

.vin_section1--receipt p{
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    color: rgb(102,102,102);
}
.vin_section1--receipt p.thanks{
    font-size: 40px;
}
.vin_section1--receipt span{
    display: block;
    height: 120px;
    width: 120px;
    margin:0 auto;
    margin-bottom: 25px;
    padding:20px 0;
    border:2px solid rgb(102,102,102);
    border-radius: 50%;
}
.vin_section1--receipt span i{
    color: rgb(102,102,102);
    font-size: 70px;
    line-height: 70px;
}

/*=============== CHOOSE COUNTRY ===============*/

.vin_choose-country__continent{
    margin-bottom:30px;
}
.vin_choose-country__continent:first-child{
    margin-top:0;
}
.vin_choose-country__continent__country{
    display: block;
    margin-bottom: 10px;
    -webkit-transition: all 0s 0s;
    -moz-transition: all 0s 0s;
    -ms-transition: all 0s 0s;
    -o-transition: all 0s 0s;
    transition: all 0s 0s;

}
.vin_choose-country__continent__country__text{
    display: inline-block;
    position: relative;
    top:-10px;
    font-family: Roboto, sans-serif !important;
    font-size: 16px;
    line-height: 32px;
    font-weight: 200;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.vin_choose-country__continent__country__flag{
    display: inline-block;
    height: 32px;
    width:32px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 2px 4px rgba(0,0,0,0.2);
    box-shadow:0 0 1px rgba(0,0,0,0.5), 0 2px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.vin_choose-country__continent__country:hover .vin_choose-country__continent__country__text{
    color: rgb(198,34,120);
}
.vin_choose-country__continent__country:hover .vin_choose-country__continent__country__flag{
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 4px 8px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 4px 8px rgba(0,0,0,0.2);
    box-shadow:0 0 1px rgba(0,0,0,0.5), 0 4px 8px rgba(0,0,0,0.2);

}
#vin_lang-popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 99;
}
.vin_choose-lang{
    display: block;
    position: absolute;
    top:30vh;
    left: calc(50% - 250px);
    width:500px;
    padding:20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
/*.vin_choose-lang::after{*/
    /*content:'';*/
    /*position: absolute;*/
    /*top:100%;*/
    /*left:21px;*/
    /*display: block;*/
    /*border-top:10px solid rgb(40,40,40);*/
    /*border-right: 10px solid transparent;*/
    /*border-bottom: none;*/
    /*border-left: 10px solid transparent;*/
/*}*/
.vin_choose-lang__close{
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}
.vin_choose-lang__close i{
    display: block;
    font-size: 30px;
    line-height: 30px;
    color:rgb(247,247,247);
    opacity:0.5;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.vin_choose-lang__close:hover i{
    opacity:1;
}
.vin_choose-lang__message{
    display: block;
    font-size: 22px;
    font-family: Raleway, sans-serif;
    color:rgb(247,247,247);
    text-align: center;
    margin-bottom: 50px;
}
@media(max-width:501px){
    .vin_choose-lang{
        top:30vh;
        left: 0;
        width:100%
    }
    .vin_choose-lang__close{
        top: -40px;
        right: 10px;
    }
    .vin_choose-lang__message{
        font-size: 18px;
    }
}

.vin_choose-lang__link{
    display: block;
    position: relative;
    width:50%;
    float: left;
    padding: 5px 10px 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    background-color: transparent;
    border:none;
}
.vin_choose-lang__link:hover{
    background-color: rgba(247,247,247,0.2);
}

.vin_choose-lang__link__flag{
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 10px;
    background-size: cover;
    background-position: 50% 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5), 0 2px 4px rgba(0,0,0,0.2);
    box-shadow:0 0 1px rgba(0,0,0,0.5), 0 2px 4px rgba(0,0,0,0.2);
}
.vin_choose-lang__link__value{
    display: inline-block;
    font-family: Roboto, sans-serif !important;
    font-size: 16px;
    line-height: 32px;
    font-weight: 200;
    letter-spacing: 1px;
    color:rgb(247,247,247);
    position: relative;
    top:-10px;
    margin-bottom: -15px;
}

/*=============== ERROR ===============*/
#error .sys_page-header__title{
    margin-bottom: 0;
}
.vin_error{
    display: block;
    position: relative;
}
.vin_error__code{
    display: block;
    font-family: Roboto, sans-serif !important;
    font-size: 120px;
    line-height: 120px;
    font-weight: 200;
    text-align: center;
    color: rgb(198,34,120);
    margin-bottom: 10px;
}
.vin_error__message{
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 46px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 10px;
}
.vin_error__desc{
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 200;
    text-align: center;

}
.vin_error__image{
    position: absolute;
    top: -20%;
    bottom: -20%;
    height: 140%;
    left:55%;
    opacity: 0.15;
    z-index: -1;
}
@media(max-width:991px){
    .vin_error__image{
        top: -10%;
        bottom: -10%;
        height: 120%;
        left:50%;
    }
}
@media(max-width:767px){
    .vin_error__image{
        top: 0;
        bottom: 0;
        height: 100%;
        left:40%;
    }
}

/*=============== HELPERS ===============*/

.vin_white{
    background-color: rgb(253, 253, 253);
}
.vin_white-text{
    color: rgb(253, 253, 253);
}
.vin_grey{
    background-color: rgb(102, 102, 102);
}
.vin_grey-text{
    color: rgb(102, 102, 102);
}
.vin_pink{
    background-color: rgb(198,34,120);
}
.vin_pink-text{
    color: rgb(198,34,120);
}
.vin_thin-text{
    font-weight: 100;
}
.vin_light-text{
    font-weight: 200;
}
.vin_regular-text{
    font-weight: 400;
}
.vin_bold-text{
    font-weight: 600;
}

.vin_indented{
    position: relative;
    padding-left: 25px;
}
.vin_indented::before{
    content: '-';
    position: absolute;
    left:10px;
}
.vin_cocon-font{
    font-family: "Cocon-Regular", sans-serif !important;
    letter-spacing: 1px;
}
.vin_roboto-font{
    font-family: Roboto, sans-serif !important;
    letter-spacing: 1px;
}

input[name="recaptchaHidden"] {
    height: 1px !important;
    width: 1px !important;
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}
#recaptchaHidden-error{
    top:-15px;
    margin-bottom: 10px;
}
p.error-label{
    position: relative;
    top:2px;
    left:2px;
    margin-bottom: -5px;
    color: rgb(225,60,60);
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: rgb(120,120,120);
    letter-spacing: 0.05rem;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: rgb(120,120,120);
    letter-spacing: 0.05rem;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: rgb(120,120,120);
    letter-spacing: 0.05rem;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: rgb(120,120,120);
    letter-spacing: 0.05rem;
}
