/* palette */
//$color-primary-t10:#F5EBEE;
//$color-primary-t9:#ECD7DD;
//$color-primary-t8:#E2C3CC;
//$color-primary-t7:#D9AFBB;
//$color-primary-t6:#D09BAA;
//$color-primary-t5:#C68799;
//$color-primary-t4:#BD7388;
//$color-primary-t3:#B45F77;
//$color-primary-t2: #CF4141;
//$color-primary-t1: #CA2C2C;

$color-primary: #C62278;
$color-highlight-primary: #EA278D;

//$color-primary-b1:#B41515;
//$color-primary-b2:#A21313;
//$color-primary-b3:#6F1A33;
//$color-primary-b4:#61172C;
//$color-primary-b5:#531426;
//$color-primary-b6:#461020;
//$color-primary-b7:#380D1A;
//$color-primary-b8:#2A0A13;
//$color-primary-b9:#1C070D;

//$color-alternative-1:#883677;
//$color-alternative-2:#413F54;
//$color-alternative-3:#EC9A29;
//$color-alternative-4:#2E8665;

/* text */
//$text-color:#777;
//$error-text-color:#c60802;
//$title-text-color:#333;
//
//$text-footer-color:#ACACAC;
//$title-text-footer-color:#FFF;
//
//$text-link-color: #AA4B66;
//$text-link-hover-color: #D81159;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;